[Unit]
Description=everything. Brings News-feeds, Podcasts, YouTube and much more into one place.

[Service]
ExecStart=<PATH TO THIS REPO>/launch.sh
User=<YOUR USER>
Group=<YOUR GROUP>

[Install]
WantedBy=multi-user.target
